<div class="container">
    <h1 class="intro">Welcome to Qoute App</h1>
   
<div class="d-flex">
    <button class="btn btn-sm btn-blue ms-3" data-toggle="modal" data-target="exampleModal"><b>Add Quote.</b></button>
</div>

</div>
<div class="title-section">
<h2 class="sub-title">Examples of Quotes</h2>
</div>
<div class="quote-section">
    <div class="row">
    <div *ngFor="let quote of quotes; let i = index">
        <div class="col-sm-12 text-center">
            <div class="card" style="width: 21rem;" *ngIf="rankQuotes()==quote.likes && quote.likes>0" appQuoteHighlight>
                <p class="card-text">{{quote.quoteDescription}}</p>
                <p class="card-text">~ {{quote.quoteAuthor}} </p>
             </div>
             
             <div class="footer text-center">
                 <app-quote-details *ngIf="quote.showDetails" [quote]="quote"></app-quote-details>
             </div>
         </div>       
    </div>
    </div>
</div>
